In [1]:
#!pip install pyarrow

In [2]:
#!pip install boto3

In [1]:
import pandas as pd
import random
import pyarrow as pa
import pyarrow.parquet as pq
import time

# too see max columns
pd.set_option('display.max_columns',None)

In [2]:
df = pd.read_csv('../Data/Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [4]:
df.shape

(7043, 21)

In [5]:
#df_repeated = pd.concat([df]*1000, ignore_index=True)

In [6]:
#df_repeated.head()

In [7]:
#df_repeated.shape

## Create new customerID number

In [8]:
#df_repeated['customerID'] = [ random.randint(1,10000000)  for k in df_repeated.index]

In [9]:
#df_repeated.head()

In [10]:
#df_repeated.shape

## Write pandas dataframe to csv

In [11]:
# Write dataframe to csv and measure seconds to run
start_time = time.time()
df.to_csv('../Data/churn.csv', index = False)
print(time.time() - start_time, "seconds")

0.04857969284057617 seconds

## Write pandas dataframe to parquet

In [ ]:
# Convert DataFrame to Apache Arrow Table
table = pa.Table.from_pandas(df_repeated)

In [ ]:
# Parquet with GZIP compression and measure seconds to run
start_time = time.time()
pq.write_table(table, '../Data/churn.parquet', compression='GZIP')
print(time.time() - start_time, "seconds")

## Upload parquet file to Amazon S3

In [1]:
# import boto3
import boto3

In [2]:
#Creating Session With Boto3.
session = boto3.Session(
aws_access_key_id='<AKIAU32NX3XY5DYYW7GF>',
aws_secret_access_key='<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>'
)

In [3]:
# Create an S3 client
s3 = boto3.client('s3')

In [4]:
# Call S3 to list current buckets
response = s3.list_buckets()

In [5]:
response

{'ResponseMetadata': {'RequestId': 'YD8ZPZ54N0TESJK9',
  'HostId': 'RIZVJQJ8tR/Fdj5iBjbVEPLGWhYk7Q8iyrd66KqePU49jy5+Yc3fmVGIN3MWpweKHUdxYBYofeY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'RIZVJQJ8tR/Fdj5iBjbVEPLGWhYk7Q8iyrd66KqePU49jy5+Yc3fmVGIN3MWpweKHUdxYBYofeY=',
   'x-amz-request-id': 'YD8ZPZ54N0TESJK9',
   'date': 'Tue, 16 Nov 2021 19:54:28 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'churn-prediction',
   'CreationDate': datetime.datetime(2021, 11, 7, 19, 52, 5, tzinfo=tzutc())},
  {'Name': 'databricks-workspace-stack-lambdazipsbucket-k8atw2iryaav',
   'CreationDate': datetime.datetime(2021, 11, 6, 21, 41, 7, tzinfo=tzutc())},
  {'Name': 'db-fe6d4952888e7f4321caff4c64a89f25-s3-root-bucket',
   'CreationDate': datetime.datetime(2021, 11, 6, 21, 41, 8, tzinfo=tzutc())}],
 'Owner': {'DisplayName': 'derek.plemons',
  'ID': '7980e8bbac1d5ecf68d05cd578963874c7d9ed9f80197ecc20c6864cb288e761'}}

In [ ]:
# Get a list of all bucket names from the response
buckets = [bucket['Name'] for bucket in response['Buckets']]

In [ ]:
# Print out the bucket list
print("Bucket List: %s" % buckets)

In [ ]:
# Create new S3 Bucket
s3.create_bucket(Bucket='churn-prediction')

In [ ]:
# Upload parquet file
filename = 'churn.parquet'
bucket_name = 'churn-prediction'

# Uploads the given file using a managed uploader, which will split up large
# files automatically and upload parts in parallel.
s3.upload_file(filename, bucket_name, filename)